#videoContainer {
    display: flex;
    flex-direction:  column;
    #videoControls {
        position: relative;
        bottom: 5em;
        display: flex;
        flex-direction: column;
        .timeLineBox{
            display: flex;
            justify-content: center;
            width: inherit;
            #timeLine {
                width : 88em;
            }
        }
        .controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width : inherit;
            .controlBox {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-left : 2em;
                margin-right : 2em;
                .controlBox-left {
                    #play {
                        margin-right: 2em;
                    }
                    width : 100em;
                }
                .controlBox-right {
                    #mute {
                        margin-right: 2em;
                    }
                    #volume {
                        margin-right: 2em;
                        width : 20em;
                    }
                    width : 40em;
                }
            }
        }
    }
    .hiding {
        opacity: 0;
        transition: opacity 1s;

    }
}

.video-comments {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;

    .video-comment {
        padding: 10px;
        border-radius: 9999px;
        margin-bottom: 10px;
        background-color: white;
        color: black;

    }
}