extends base
include mixins/video

block content
    div.video-grid
        if errorMessage
            span= errorMessage
        each video in videos 
            +video(video)
        else
            span.empty__message Videos Not Found
