header
    a(href="/").header__logo
        i.fab.fa-youtube
    h1= pageTitle
    nav
        ul 
            li 
                a(href="/search")
                    i.fas.fa-search
            if(!loggedIn)
                li
                    a(href="/login") Log in
                li
                    a(href="/join").header__btn Join
            else
                li
                    a(href="/videos/upload") Upload
                li
                    a(href=`users/${loggedInUser._id}`)
                        if loggedInUser.avatarUrl === undefined
                            span X
                        else 
                            if loggedInUser.avatarUrl
                                if loggedInUser.avatarUrl.includes("github")
                                    img(src=loggedInUser.avatarUrl).header__avatar
                                else
                                    img(src="/" + loggedInUser.avatarUrl).header__avatar
                li
                    a(href="/users/edit") edit-profile
                li
                    a(href="/users/logout") Log Out